
/*-(ייבוא הגדרות בסיס של Tailwind CSS)-*/
@tailwind base;

/*-(ייבוא רכיבי עיצוב מותאמים מראש של Tailwind)-*/
@tailwind components;

/*-(ייבוא כלי עזר שימושיים של Tailwind)-*/
@tailwind utilities;

/*-(עיצוב גלילה של גוף הדף - מניעת גלילה אופקית והגבלת אנכית)-*/
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
/*--*/

/* @tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
  overflow-y: scroll;
} */
